<%- include('includes/head.ejs', { title: 'Discussion' }) %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Discuss!</h1>
    <section>
      <ol>
        <% for (const comment of comments) { %>
          <li>
            <!-- 위험요소: 만약 여기에 스크립트 코드가 나타나면 실행된다!!
            따라서 이들을 필터링해주는 과정(이스케이핑, 유저 입력 삭제 등)이 필수적이다.-->
            <%= comment.text %>
            <!-- <%- %>가 아니라 <%=  %>를 사용하자 -->
          </li>
        <% } %>
      </ol>
    </section>
    <section>

      <form action="/discussion/comment" method="POST">
        <div class="form-control">
          <label for="comment">My Comment</label>
          <textarea name="comment" id="comment" rows="5"></textarea>
        </div>
        <button class="btn">Send</button>
      </form>
    </section>
  </main>
</body>
</html>